.portfolio__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
	margin-top: -90;
}

.portfolio__item {
	/* background: var(--color-bg-variant); */
	background: var(--color-primary);
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid transparent;
	transition: var(--transition);
	color: var(--color-bg);
}

.portfolio__item:hover {
	background: var(--color-primary-variant);
	/* background: rgba(44, 44, 108, 0.5); */
	/* color: var(--color-white); */
}

.portfolio__item-image {
	border-radius: 1.1rem;
	overflow: hidden;
}

.portfolio__item h3 {
	margin: 1.2rem 0 1.8rem;
}

.portfolio__item-cta {
	display: flex;
	margin-bottom: 1rem;
	text-align: center;
}

/* =========== Media Queryies (Medium Devices)============ */
@media screen and (max-width: 1024px) {
	.portfolio__container {
		grid-template-columns: 1fr 1fr;
		gap: 1.2rem;
	}
}

/* =========== Media Queryies (Small Devices)============ */
@media screen and (max-width: 600px) {
	.portfolio__container {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
